{% extends 'partials/base.html.twig' %}

{% set events = page
    .collection({'items':{'@page':'/events'}})
    .dateRange('-6 hours', '+10 years')
    .order('date', 'asc')
    .slice(0, 1)
%}

{% set lang = grav.language.getLanguage ?: 'en' %}

{% block content %}


    <section class="container {{ grid_size }}">
        <div class="columns">            
            <div class="column col-6 col-md-12">
             <p>
                {{ page.content }}    
            </p>
            </div>
            <div class="column col-6 col-md-12">

            {# {% for p in page.header.imports.current | randomize %} #}
            {% for p in page.header.imports.single %}
                <div class="pure-u-1">
                    <div class="gallery-card">
                        <div class="photo-box">
                            <img src="{{ p.image }}" />
                            
                            <div class="caption ellipsis">
                                <div class="title ellipsis">
                                    <a href="{{ (p.url starts with '/') ? ('/' ~ html_lang ~ p.url) : p.url }}">
                                        {{ p.name[lang] ?: p.name }}
                                    </a>
                                </div>
                                <div class="subtitle ellipsis">
                                    {% if p.contact %}
                                        {{ p.contact }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="gallery-card-main">
                            {{ p.sub[lang] ?: p.sub }}
                        </div>
                    </div>
                
            {% endfor %}
        </div>



            </div>
        </div>
    </section>
</section>



    
    <div class="gallery pure-g">

        {# {% for p in page.header.imports.current | randomize %} #}
        {% for p in page.header.imports.current %}
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                <div class="gallery-card">
                    <div class="photo-box">
                        <img src="{{ p.image }}" />
                        
                        <div class="caption ellipsis">
                            <div class="title ellipsis">
                                <a href="{{ (p.url starts with '/') ? ('/' ~ html_lang ~ p.url) : p.url }}">
                                    {{ p.name[lang] ?: p.name }}
                                </a>
                            </div>
                            <div class="subtitle ellipsis">
                                {% if p.contact %}
                                    {{ p.contact }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="gallery-card-main">
                        {{ p.sub[lang] ?: p.sub }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
	

{% endblock %}
