{% set grid_size = theme_var('grid-size') %}
{% set image = page.header.image %}
{% set image_tree = page.header.image_tree %}

{% set city = page.header.city %}
{% set foodsharing_since = page.header.foodsharing_since %}
{% set stores_number = page.header.stores_number %}
{% set stores_type = page.header.stores_type %}
{% set special = page.header.special %}
{% set last_edited = page.header.last_edited %}

<section class="section modular-text {{ page.header.class}} {{page.header.background|default('bg-gray')}}">
    <section class="container {{ grid_size }}">
        <div class="columns {{ page.header.image_align|default('align-right') }}">
            {% if image %}
            <div class="column col-6 col-md-12">
             <p> Kurzbeschreibung von {{city}}
             <ul>
                <li>foodsharing Bezirk seit {{foodsharing_since}}</li>
                <li>Anzahl Kooperationen: {{stores_number}} </li>
                <li>Art der Kooperationen: {{stores_type}} </li>
                <li>Besonderes: {{special}}
            </ul> 

            </br>
            (Stand: {{last_edited}}) 

             </p>   
            </div>
            <div class="column col-6 col-md-12">
                {% if image %}
                <img src="/user/images/tree/{{ image_tree}}" />   
                {% endif %}
            </div>
            {% else %}
            <div class="column col-12">
                {{ content|raw }}
            </div>
            {% endif %}
        </div>
    </section>
</section>
